<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <p>I’m Martin Brennan, and I’m a full stack software engineer based in Australia.
        I primarily enjoy working with Ruby, Rails, C#, and JavaScript but I’m always seeking ways
        to expand my knowledge and learn about new tools, languages and frameworks.</p>

        <p>When I'm not writing software, I enjoy writing and I have a writing blog at <a href="https://writing.martin-brennan.com">https://writing.martin-brennan.com</a>, reading, music, cycling, hiking, and spending time with my family.</p>
      </div>
    </div>

  </div>

</footer>
