<header class="site-header">
  <div class="wrapper">
    <img class="header-avatar" src="https://gravatar.com/avatar/e61d50823d8a61ae2e50aa1b62c29ab5?s=200"/>

    <div class="nav-and-title">
    <h1 class="main-site-title">{{ site.title }}</h1>
    <span>🏡 <a href="/">latest</a> | 👋 <a href="/about">about</a> | 📜 <a href="/archive">archive</a> | {% include icon-github.svg %} <a href="https://github.com/martin-brennan">github</a> | ✍️ <a href="https://writing.martin-brennan.com">fiction</a></span>
    </div>

  </div>
</header>
